/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

/*----------- HEADER --------------*/
header {
  padding: 0.5rem 2%;
  background-color: #ddd;
}
header h1 {
  margin: 0;
}
header h2 {
  margin: 0;
  font-weight: normal;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: #666;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  border-bottom: solid 1px #333;
}
nav ul li a {
  display: block;
  background-color: #444;
  color: #eee;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}
nav ul li.active a {
  background-color: #000;
  color: #fff;
}
/*----------- MAIN --------------*/
main {
  padding: 0 2%;
  min-height: 20rem;
}

/* FORM STYLING */
.wf1 fieldset {
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 2%;
}

.wf1 legend {
  color: #445ba9;
  padding: 0 0.5rem;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  color: red;
  font-size: 0.9rem;
}

.wf1 div {
  padding-top: 1rem;
  color: #445ba9;
  font-size: 0.9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="date"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="number"],
.wf1 select {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
  margin-right: 6px;
}

.wf1 input[type="submit"] {
  border: none;
  background-image: linear-gradient(#9c2c13, #6f200e);
  color: #fff;
  border-radius: 6px;
  padding: 0.8rem;
  box-shadow: 1px 1px 4px #999;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
}

/* TARGET THE REQUIRED CLASES */

.wf1 input:required {
  border-left: solid 8px red;
}

.wf1 input:required:valid {
  border-left: solid 8px green;
}

/*----------- FOOTER --------------*/
footer {
  background-color: #ddd;
  padding: 0.5rem 2%;
  text-align: center;
}
