/* large view navigation ************************************/
@media screen and (min-width: 37.5em) {
  #menu {
    display: none;
    /* hide hamburger button */
  }
  h2 {
    font-size: 4rem;
  }
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    background-color: transparent;
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
    padding: 1rem;
    color: #000;
  }
  .navigation a:hover {
    background-color: rgb(71, 255, 71);
    border-radius: 10px;
  }

  .active::before {
    content: "";
  }
  nav .active {
    color: #041472;
    text-decoration: underline;
    border-radius: 10px;
    font-size: 1.15rem;
    font-weight: bolder;
    padding-bottom: 20px;
  }

  main .row {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 100%;
    padding: 2rem;
  }
  .cards {
    padding: 0 10px;
  }
  .card-box {
    text-align: center;
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: #9fa0af;
    box-shadow: 0.4rem 0.4rem 1rem black;
    border-radius: 10px;
  }
  .laundry-h2 {
    font-size: 2.5rem;
    color: #000000;
  }
  .service-form {
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 2rem;
  }
  .customer-box {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .customer-img {
    flex-direction: row;
  }
  .customer-img img {
    margin: 1.25rem;
  }
}
