:root {
  --back: hsla(150, 50%, 30%, 1);
  --back2: hsla(150, 50%, 30%, 0.5);
  --foredark: hsla(0, 0%, 10%, 1);
  --forelight: hsla(0, 0%, 100%, 1);
  --border: hsla(0, 0%, 20%, 0.8);
  --borderlight: hsla(0, 0%, 33%, 0.3);
  --shadow: hsl(0, 0%, 50%);
  --zebra: hsl(0, 8%, 74%);
}

body {
  padding: 5%;
}

table {
  width: 400px;
  border: 1px solid black;
  border-collapse: collapse;

  caption {
    caption-side: bottom;
    font-size: smaller;
    padding: 0.2rem;
  }
}

th,
td {
  padding: 0.5rem 1rem;
  border: 1px solid purple;
  white-space: pre;
}

thead th,
tbody td {
  text-align: center;
}

thead {
  color: #fff;
  background-color: #000;

  th {
    padding: 1rem;
    font-size: larger;
  }
  tr:nth-last-child(1) {
    background-color: #134ab1;
  }
}

tbody tr:nth-child(even) {
  background-color: red;
}
.blank {
  background: #000;
}
